***.env
***discussion*
**archive

# analysis
compose.yaml

# dataset processing
internal/dataset/augment
cmd/augmenter


# archive
cmd/gomodcollector
internal/collector
internal/utils
chown.sh
internal/metrics

# poc
internal/poc


# gopher data
**/metadata.json
**/finish.json
**/extraRules/


internal/tools

# ml 
ml
***.venv
