***.env
***discussion*
**archive

# analysis
compose.yaml

# dataset processing
internal/dataset/augment
cmd/augmenter


# archive
cmd/gomodcollector
internal/collector
internal/utils
chown.sh
internal/metrics

# poc
internal/poc


# gopher data
**/finish.json
**/extraRules/


**/codeql-home/

results/splits

tools/

# ml 
ml
***.venv

*.log
**/run-info*
